* {
	font-family: "Noto Sans TC", sans-serif;
	/*border: 1px dotted red;*/
}
body {
	margin: 0;
}
h1 {
	font: size 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3,
h4.h5,
h6 {
	font-size: 1.2rem;
}
p,
li,
a {
	font-size: 1rem;
}

/*nav*/
nav {
	background-color: rgb(14, 32, 49);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/*keep showing on screen?
	position: fixed;
	width: 100%;
	z-index: 10;*/
}
nav a {
	color: white;
	text-decoration: none;
}
nav #logo {
	padding-left: 2rem;
	font-size: 2rem;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 500;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 1.5rem 2rem 1.5rem 0;
	display: flex;
	flex-direction: row;
}
nav ul li {
	text-align: center;
}
nav ul li a {
	padding: 1.5rem;
	font-size: 1.2rem;
	transition: all 0.4s;
}
nav ul li a:hover {
	color: #4ecdc4;
}

/*slider*/
.switch {
	position: relative;
	display: inline-block;
	top: 24px;
	left: 16px;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.switch p {
	position: absolute;
	left: 5rem;
	top: -10px;
	width: 70px;
}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: all 0.4s;
}
/*the knob*/
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: rgb(71, 71, 71);
	transition: 0.4s;
}
/*change color*/
input:checked + .slider {
	background-color: #f8e91b;
}
/*change position*/
input:checked + .slider:before {
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

@media only screen and (min-width: 350px) and (max-width: 770px) {
	nav {
		flex-direction: column;
	}
	nav #logo {
		padding: 1em 0 0;
	}
	nav ul {
		flex-direction: column;
		padding: 1rem 0 1rem;
		width: 100%;
	}
	nav ul li {
		margin: 8px 0;
	}
	nav ul li a {
		padding: 8px 40%;
		width: 100%;
	}
}
@media only screen and (max-width: 350px) {
	nav {
		flex-direction: column;
	}
	nav #logo {
		display: none;
	}
	nav ul {
		flex-direction: column;
		padding: 1rem 0 1rem;
		width: 100%;
	}
	nav ul li {
		margin: 8px 0;
	}
	nav ul li a {
		padding: 8px 20%;
		width: 100%;
	}
	.switch {
		display: none;
	}
}
