button {
	width: 70%;
	padding: 1rem 0;
	margin: 1rem;
	background-color: white;
	border-radius: 50px;
	border-style: none;
	transition: all 0.3s;
}
button:hover {
	background-color: rgb(71, 180, 253);
	cursor: pointer;
}

a button {
	font-size: 1.5rem;
	text-decoration: none;
}

.contentsTitle h1 {
	text-align: center;
	color: rgb(47, 172, 255);
	font-size: 3rem;
	padding: 2em 0;
	margin: 0 0;
}

.contents {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0rem 5rem 2rem;
}
.content {
	margin: 0 0 8rem;
	padding: 0 5rem 3rem;
	max-width: 45%;
	text-align: center;
}
.content img {
	height: 100%;
	width: 100%;
}
.content h2 {
	font-size: 3rem;
	padding: 1em 0 0;
	margin: 0;
}
.content .overView {
	font-size: 1.5rem;
	padding: 1em 0;
	margin: 0;
}
.content .description {
	opacity: 70%;
	font-size: 1.5rem;
	padding: 1em 0;
	margin: 0;
}

.oddOrder {
	background-color: rgb(167, 181, 185);
}

.evenOrder {
	background-color: #444;
}
.evenOrder h2,
.evenOrder p {
	color: white;
}
@media only screen and (max-width: 830px) and (min-width: 430px) {
	.content {
		padding: 0 2rem 3rem;
		max-width: 100%;
	}
}
@media only screen and (max-width: 430px) {
	.contents {
		padding: 0rem 0.5rem 2rem;
	}
	.content {
		padding: 0 0.5rem 3rem;
		max-width: 100%;
	}
	button {
		width: 90%;
		margin: 1rem 0;
		border-radius: 5px;
	}
}
