.buttonA {
	width: 208px;
	padding: 1em 0;
}
.buttonB {
	width: 208px;
	padding: 1em 0;
}
.contentsTitle h1 {
	text-align: center;
	font-size: 3rem;
	padding: 2em 0;
	margin: 0 0;
	background-color: rgb(47, 172, 255);
}

.contents {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 9rem 5rem 2rem;
}
.content {
	margin: 0 0 8rem;
	padding: 3rem;
	max-width: 45%;
	text-align: center;
}
.content img {
	height: 100%;
	width: 100%;
}

.oddOrder {
	background-color: #ccc;
}

.evenOrder {
	background-color: #444;
}
.evenOrder h2,
.evenOrder p {
	color: white;
}
